body {
  background-color: #2b2b2b;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.slider {
  width: 500px;
  height: 300px;
  margin: 100px auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.img {
  width: 500px;
  text-align: center;
  line-height: 300px;
  position: absolute;
  font-size: 50px;
  color: #fff;
  display: none;
}

.img.curry {
  display: block;
}

.img:first-child {
  background: #a54747;
}

.img:nth-child(2) {
  background: #c93636;
}

.img:nth-child(3) {
  background: #365dc9;
}

.img:nth-child(4) {
  background: #36c4c9;
}

.img:nth-child(5) {
  background: #65c936;
}

.n {
  color: #575757;
}

a {
  text-decoration: none;
  color: #fd7ead;
  font-size: 20px;
}

a:hover {
  color: #0ab6dd;
}
